@{
    Layout = null;
    const int days = 1;
    const int hours = 1;
}

<!DOCTYPE html>
<html>
<head>
    <title>Xania Binding Lab</title>
    <link href="~/Content/calendar.css" rel="stylesheet" />
    <script>
        var model = null;
        var binder = null;

        function step() {
            for (var d = 0; d < @days  ; d++) {
                for (var h = 0; h < @hours ; h++) {
                    model.setCell(h, d, Math.random());
                    binder.update([d, "[]"], model[d][h]);
                }
            }
        }

        function startAnimation() {
            step();
            window.requestAnimationFrame(binder.updateDom.bind(binder));
            setTimeout(startAnimation, 0);
        }

        function startInterval() {
            setInterval(step, 0);
        }

        function startChainRequests() {
            var pairs = [];
            for (var d = 0; d < @days  ; d++) {
                for (var h = 0; h < @hours ; h++) {
                    pairs.push({ "d": d, "h": h });
                }
            }
            var step = function(i) {
                binder.updateDom();

                var p = pairs[i];
                model.setCell(p.h, p.d, Math.random());

                binder.update([p.h, "[]", "style"], model[p.h][p.d].style);
                binder.update([p.h, "[]", "status"], model[p.h][p.d].status);
                binder.update([p.h, "*"], model[p.h]);
                binder.update([p.h, "*", p.d], model[p.h][p.d]);
                binder.update([p.h, "*", p.d, "style"], model[p.h][p.d].style);
                binder.update([p.h, "*", p.d, "status"], model[p.h][p.d].status);

                // window.requestAnimationFrame(step.bind(this, ++i % pairs.length));
            }
            step(0);

        }

        var measures = [];
        function loadAll() {
            var start = new Date().getTime();
            step();
            var end = new Date().getTime();

            measures.push(end - start);

            if (measures.length > 5)
                measures.splice(0, 0);

            var total = 0;
            for (var i in measures) {
                total += measures[i];
            }

            console.log("average elapsedTime ", total / measures.length);
        }
    </script>
</head>
<body>
    <button onclick="loadAll();">load all</button>
    <button onclick="startAnimation();">start animation</button>
    <button onclick="startInterval();">start interval</button>
    <button onclick="startChainRequests();">start chain</button>

    <div id="calendar"></div>

    @*<div id="container" data-model="person">
            <input type="text" data-name="firstName" />
            <input type="text" data-name="lastName" />

            <p>{{firstName}} {{lastName}}</p>
            <p>{{lastName}} {{firstName}}</p>
            <p>{{firstName}}</p>
        </div>*@
    <script data-main="scripts/main" src="~/scripts/require.js"></script>
    <script>
        require(['main', 'xania'], function(main, xn) {
            model = new main.Calendar();

            var template = document.getElementById("calendarTemplate");
            var table = document.importNode(template.content, true);

            binder = new xn.Binder()
                .bind(table);

            var host = document.getElementById("calendar");
            host.appendChild(table);

            binder.update([], model);
        });
    </script>

    @* ReSharper disable WrongExpressionStatement *@
    @* ReSharper disable Html.TagNotResolved *@
    <template id="calendarTemplate">
        <table>
            <tr>
                @for (var day = 0; day < days; day++)
                {
                    <th class="day-header">
                        @(day + 1) Oct
                    </th>
                }
            </tr>
            <tr data-model="0">
                <td data-model="[]" class="hour-cell">
                    <div onclick="{{updateCell}}" class="{{cellClass}}">
                        @* ReSharper disable CssNotResolved *@
                        <div style="{{style.showHour}}" class="time">
                            {{hours}}:00
                        </div>
                        <div style="{{style.showSpinner}}">
                            ...
                        </div>
                        <div style="{{style.showSearchResults}}">
                            <div>{{status.searchResults.options}}</div>
                            <div class="result-label">results</div>
                        </div>
                        @* ReSharper restore CssNotResolved *@
                    </div>
                </td>
            </tr>
        </table>
    </template>
    @* ReSharper restore Html.TagNotResolved *@
    @* ReSharper restore WrongExpressionStatement *@
</body>
</html>
